<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <style>
    div{
      margin: 0 0 20px 0;
    }
  </style>
  <title>Angular Initial Value - Example</title>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>
  <script src="../src/angular-initial-value.js"></script>

  <script>
    var app = angular.module('myApp', ['initialValue']);
  </script>
</head>
<body>
  <div>
    Name (type="text")
    <input type="text" value="John" name="text" initial-value ng-model="text" id="text"/>
    {{text}}
  </div>

  <div>
    E-mail (type="email")
    <input type="email" value="john@provider.com" name="email" initial-value ng-model="email" id="email"/>
    {{email}}
  </div>

  <div>
    Phone (type="tel")
    <input type="tel" value="12 3456789" name="tel" initial-value ng-model="tel" id="tel" /> 
    {{tel}}
  </div>

  <div>
    Color (type="color")
    <input id="color" name="color" initial-value ng-model="color" type="color" value="#FFAACC"/>
    {{color}}
  </div>

  <div>
    Range (type="range")
    <input id="range" name="range" initial-value ng-model="range" type="range" min="1" max="100" value="10"/>
    {{range}}
  </div>

  <div>
    Search (type="search")
    <input id="search" name="search" initial-value ng-model="search" type="search" value="my name is"/>
    {{search}}
  </div>

  <div>
    Url (type="url")
    <input id="url" name="url" initial-value ng-model="url" type="url" value="http://google.com" />
    {{url}}
  </div>

  <div>
    Password (type="password")
    <input id="password" name="password" initial-value ng-model="password" type="password" value="password123"/>
    {{password}}
  </div>

  <div>
    <label>
      <input initial-value ng-model="dog" checked type="checkbox" value="dog" id="check_dog"/>
      Dog
    </label>
    {{dog}}
    <br>
    <label>
      <input ng-model="cat" type="checkbox" value="cat" id="check_cat"/>
      Cat
    </label>
    {{cat}}
  </div>

  <div>
    <select initial-value ng-model="select" name="select" id="select">
      <option value=""></option>
      <option value="blue">blue</option>
      <option value="red">red</option>
      <option selected value="green">green</option>
    </select>
    {{select}}
  </div>

  <div>
    <label>
      <input type="radio" initial-value checked name="sex" ng-model="male" value="male" id="radio_male" />  
      Male
    </label>
    {{male}}
    <br>
    <label>
      <input type="radio" name="sex" ng-model="female" value="female" id="radio_female"/>  
      Female
    </label>
    {{female}}
  </div>

  <div>
    <textarea initial-value ng-model="textarea" id="textarea" cols="30" rows="10">Lorem ipsum</textarea>
    {{textarea}}
  </div>
</body>
</html>